context.md

# OS specific
.DS_Store
**/.DS_Store

# Data & Benchmarks
*.fastq
*.fastq.gz
*.bgzf.gz
benchmark_1M.*
res_*.json
validation_results.csv
generate_throughput_visual.py

# Build & System
.zig-cache/
zig-out/
zig-pkg/
.venv_plots/
test-results-*/
run_*.txt
bam_run*.txt
qwed/
*.egg-info/
__pycache__/
generate_development_graph.py
generate_qwd_logo.py
pipeline.json
benchmark_pipeline.json
benchmark.sh
benchmark_report.md
QwD_Development_Proof.png
qwd_0.1.0.tar.gz
qwd.Rcheck/
.vscode/
.build/
.swiftpm/
DerivedData/
*.app/
funding.md
funding.pdf
literature_review.md

# Discard manuscript
manuscript/
